.Header {
  display: flex;
  padding: 24px 8%;
  position: relative;
  z-index: 1;
}
.Header h1 {
  width: 50%;
  margin-bottom: 0;
}
.Header a {
  color: #fff;
}
.Header a:hover {
  text-decoration: none;
  cursor: pointer;
}
.Header .main_nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  font-size: 15px;
  padding: 0;
}
.Header .open_menu {
  background-color: grey;
}
.Header .open_menu li {
  color: white;
}
.Header .open_menu .toggle {
  background-color: none;
  border: none;
}
