.Slider {
  position: relative;
  top: -150px;
}
.Slider .slider_toggle_next {
  width: 50%;
  height: 70%;
  position: absolute;
  top: 150px;
}
.Slider .slider_toggle_prev {
  width: 50%;
  height: 70%;
  position: absolute;
  top: 150px;
}
